{% extends "base.html.twig" %}

    {% block title %}Bienvenue {% if user != null %} {{ user.name }} {% endif %} {% endblock %}

    {% block stylesheet %}
        <link href="{{ asset('bundles/rauflet/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/rauflet/css/heroic-features.css') }}" rel="stylesheet">
    {% endblock %}

    {% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Bienvenue {% if user != null %} {{ user.name }} {% endif %} !</h1>
        <p>Vous pouvez accéder au générateur de pokémon en cliquant ci-dessous.</p>
        <p><a href="{{ path('rauflet_trainer_generator') }}" class="btn btn-primary btn-large">Générateur pokémon</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Inventaires</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('bundles/rauflet/images/pikachu.jpg') }}" alt="">
                <div class="caption">
                    <h3>Regardez vos pokemons</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="{{ path('rauflet_trainer_pokemon') }}" class="btn btn-primary">Vos Pokemons</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{ asset('bundles/rauflet/images/sac.jpg') }}" alt="">
                <div class="caption">
                    <h3>Regardez dans votre sac</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="{{ path('rauflet_trainer_bag') }}" class="btn btn-primary">Votre sac</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}